In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -1.115122 -0.430920  0.747197
Ohio   -0.313398  0.231174  0.683473
Texas  -0.811788  0.870347 -0.868592
Oregon  1.795573  0.767660  0.393143

In [3]:
def foo_map(n):
    if float(n) > 1:
        return True
    else:
        return False

In [4]:
frame['b'].map(foo_map)  #与apply相同

Utah      False
Ohio      False
Texas     False
Oregon     True
Name: b, dtype: bool

In [5]:
frame['b'].apply(foo_map)   #与map相同

Utah      False
Ohio      False
Texas     False
Oregon     True
Name: b, dtype: bool

In [6]:
frame.applymap(foo_map)   #对DataFrame ， 作用于元素级别

            b      d      e
Utah    False  False  False
Ohio    False  False  False
Texas   False  False  False
Oregon   True  False  False

In [7]:
f = lambda x: x.max() - x.min()

In [8]:
frame.apply(f)

b    2.910695
d    1.301267
e    1.615789
dtype: float64

In [9]:
frame.map(f)     #语法错误，因为map 仅作用于Series对象

AttributeError: 'DataFrame' object has no attribute 'map'

总结：
map(f)              作用于Series对象上，对每个元素应用f；
apply(f)            作用于DataFrame对象上，默认对每一列应用f；
applymap(f)     作用于DataFrame对象的每一个元素；

- 实例

In [3]:
import pandas as pd
df = pd.DataFrame({'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]}); df

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [4]:
source_cols = df.columns
new_cols = [str(x) + "_cat" for x in source_cols]
categories = {1 : 'Alpha', 2 : 'Beta', 3 : 'Charlie' }

df[new_cols] = df[source_cols].applymap(categories.get);df

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha