In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### 字典--> DataFrame

字典的值必须长度相等

In [6]:
dataDict = {'nation':['Japan','S.Korea','China'],'capital':['Tokyo','Seoul','Beijing'],'GDP':[4900,1300,9100]}
df = pd.DataFrame(dataDict)
df

    GDP  capital   nation
0  4900    Tokyo    Japan
1  1300    Seoul  S.Korea
2  9100  Beijing    China

### DataFrame 拼接

纵向  concat()

In [7]:
ar = np.random.randint(1, 10, 2)
df = pd.DataFrame([ar, ar, ar], index=[i for i in "abc"])
df_2 = pd.DataFrame([ar, ar, ar], index=[i for i in "def"])
df_s = pd.concat([df, df_2])
df_s

   0  1
a  9  4
b  9  4
c  9  4
d  9  4
e  9  4
f  9  4

横向 merge()

TIPS: 增加 how 关键字，并指定
how = ‘inner’
how = ‘left’
how = ‘right’
how = ‘outer’
结合 how，可以看到 merge 基本再现了 SQL 应有的功能

In [9]:
df_1 = pd.DataFrame(np.arange(12).reshape(3,4), index=[i for i in "abc"], columns=["name", "AA", "BB", "CC"])
df_2 = pd.DataFrame(np.arange(12).reshape(3,4), index=[i for i in "abc"], columns=["name", "A", "B", "C"])
df_s = pd.merge(df_1, df_2, on='name')
df_s

   name  AA  BB  CC  A   B   C
0     0   1   2   3  1   2   3
1     4   5   6   7  5   6   7
2     8   9  10  11  9  10  11

### map() 使用

In [10]:
dataNumPy32 = np.asarray([('Japan','Tokyo',4000),('S.Korea','Seoul',1300),('China','Beijing',9100)])
DF32 = pd.DataFrame(dataNumPy32,columns=['nation','capital','GDP'])
DF32

    nation  capital   GDP
0    Japan    Tokyo  4000
1  S.Korea    Seoul  1300
2    China  Beijing  9100

In [11]:
def GDP_Factorize(v):
    fv = np.float64(v)
    if fv > 6000.0:
         return 'High'
    elif fv < 2000.0:
         return 'Low'
    else:
         return 'Medium'

DF32['GDP_Level'] = DF32['GDP'].map(GDP_Factorize)
DF32['NATION'] = DF32.nation.map(str.upper)
DF32

    nation  capital   GDP GDP_Level   NATION
0    Japan    Tokyo  4000    Medium    JAPAN
1  S.Korea    Seoul  1300       Low  S.KOREA
2    China  Beijing  9100      High    CHINA

### 排序

In [12]:
DF32.sort_values("GDP", ascending=False)

    nation  capital   GDP GDP_Level   NATION
2    China  Beijing  9100      High    CHINA
0    Japan    Tokyo  4000    Medium    JAPAN
1  S.Korea    Seoul  1300       Low  S.KOREA

In [16]:
DF32.sort_index(axis=1)   #按列名排序

    GDP GDP_Level   NATION  capital   nation
0  4000    Medium    JAPAN    Tokyo    Japan
1  1300       Low  S.KOREA    Seoul  S.Korea
2  9100      High    CHINA  Beijing    China

### 空值处理

In [17]:
df_33 = DF32.rank()
df_33.ix[0][0] = np.nan
df_33.ix[1][2] = np.nan
df_33

   nation  capital  GDP  GDP_Level  NATION
0     NaN      3.0  2.0        3.0     2.0
1     3.0      2.0  NaN        2.0     3.0
2     1.0      1.0  3.0        1.0     1.0

mean()方法会自动跳过空值

In [18]:
df_33.mean()

nation       2.0
capital      2.0
GDP          2.5
GDP_Level    2.0
NATION       2.0
dtype: float64

In [19]:
df_33.fillna(0)   #用 0 填充空值

   nation  capital  GDP  GDP_Level  NATION
0     0.0      3.0  2.0        3.0     2.0
1     3.0      2.0  0.0        2.0     3.0
2     1.0      1.0  3.0        1.0     1.0

### groupby()用法

- 1

In [23]:
dates = pd.date_range("20150101", periods=5)
df = pd.DataFrame(np.random.randn(5,4), index=dates, columns=list("ABCD"))
df['sex'] = ['F', 'F', 'M', 'F', 'M']
df

                   A         B         C         D sex
2015-01-01 -0.302321  0.574159 -0.842498  0.121996   F
2015-01-02 -0.574085  0.294535  0.141915 -1.001035   F
2015-01-03  0.822946  0.784887  0.668037  0.226161   M
2015-01-04  0.212561  0.795735 -0.230028  0.624892   F
2015-01-05  0.927442 -1.470676 -0.781843 -0.468371   M

In [24]:
df_1 = df.groupby("sex")
df_1   #打印一个内存地址

In [26]:
df_1.first()

            A         B         C         D
sex
F   -0.302321  0.574159 -0.842498  0.121996
M    0.822946  0.784887  0.668037  0.226161

In [27]:
df_2 = df.groupby("sex")[df.columns].sum()   #分组，对各列求和
df_2

            A         B         C         D
sex
F   -0.663844  1.664429 -0.930611 -0.254147
M    1.750388 -0.685789 -0.113806 -0.242210

In [28]:
df_3 = df.groupby("sex")
df_3["A"].sum()   #对A列求和
df_3.sum()   #对所有列求和

sex
F   -0.663844
M    1.750388
Name: A, dtype: float64

In [29]:
#对groupby迭代
for index,value in df_3:
#     print(index)
    print(value)

                   A         B         C         D sex
2015-01-01 -0.302321  0.574159 -0.842498  0.121996   F
2015-01-02 -0.574085  0.294535  0.141915 -1.001035   F
2015-01-04  0.212561  0.795735 -0.230028  0.624892   F
                   A         B         C         D sex
2015-01-03  0.822946  0.784887  0.668037  0.226161   M
2015-01-05  0.927442 -1.470676 -0.781843 -0.468371   M

- 2

In [2]:
import pandas as pd
df = pd.DataFrame({'AAA' : [1,1,1,2,2,2,3,3], 'BBB' : [2,1,3,4,5,1,2,3]}); df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

按AAA分组，求BBB列的最小值

法一：

In [3]:
df.groupby("AAA")["BBB"].idxmin()

AAA
1    1
2    5
3    6
Name: BBB, dtype: int64

In [4]:
df.loc[df.groupby("AAA")["BBB"].idxmin()]  #idxmin() to get the index of the mins

   AAA  BBB
1    1    1
5    2    1
6    3    2

法二：

In [5]:
df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

In [6]:
df.sort_values(by="BBB").groupby("AAA", as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

### aggregate() 方法

In [30]:
df_1.aggregate(np.sum)   #求和

            A         B         C         D
sex
F   -0.663844  1.664429 -0.930611 -0.254147
M    1.750388 -0.685789 -0.113806 -0.242210

In [31]:
df_1.aggregate(np.sum).reset_index()  #将index变为列

  sex         A         B         C         D
0   F -0.663844  1.664429 -0.930611 -0.254147
1   M  1.750388 -0.685789 -0.113806 -0.242210

In [32]:
df_1.size()  #分组数量

sex
F    3
M    2
dtype: int64

### agg() 方法

In [34]:
df_1.agg([np.mean, np.sum])

            A                   B                   C                   D  \
         mean       sum      mean       sum      mean       sum      mean
sex
F   -0.221281 -0.663844  0.554810  1.664429 -0.310204 -0.930611 -0.084716
M    0.875194  1.750388 -0.342895 -0.685789 -0.056903 -0.113806 -0.121105


          sum
sex
F   -0.254147
M   -0.242210

In [35]:
df_1["A"].agg([np.mean, np.sum])

         mean       sum
sex
F   -0.221281 -0.663844
M    0.875194  1.750388

In [36]:
df_1["A"].agg({"as mean":np.mean, "as sum":np.sum})  #指定名称

      as mean    as sum
sex
F   -0.221281 -0.663844
M    0.875194  1.750388

In [38]:
df_1["A"].agg(lambda x: np.mean(abs(x)))  #使用自定义功能

sex
F    0.362989
M    0.875194
Name: A, dtype: float64

### 数据类型转换

In [40]:
df = pd.DataFrame(np.random.randn(3,4))
df

          0         1         2         3
0 -0.457782  0.007790 -0.620268 -0.439734
1 -0.757078 -0.576366  1.005250 -0.770066
2 -1.092319  0.083674 -0.274597 -1.315638

In [42]:
df.astype(np.dtype('i'))   #i 表示整数

   0  1  2  3
0  0  0  0  0
1  0  0  1  0
2 -1  0  0 -1

In [45]:
#转换某列
df.iloc[:, 1] = np.dtype('S4')
df

          0    1         2         3
0 -0.457782  |S4 -0.620268 -0.439734
1 -0.757078  |S4  1.005250 -0.770066
2 -1.092319  |S4 -0.274597 -1.315638

In [46]:
df.iloc[:, 1] = 'abc'
df

          0    1         2         3
0 -0.457782  abc -0.620268 -0.439734
1 -0.757078  abc  1.005250 -0.770066
2 -1.092319  abc -0.274597 -1.315638

In [50]:
df.dtypes   #查看每列的数据类型

0    float64
1     object
2    float64
3    float64
dtype: object

In [49]:
df.iat[0,0] = 'aaa'   #float 类型不允许插入 string

ValueError: could not convert string to float: 'aaa'

### df.where()方法

In [41]:
import pandas as pd
import numpy as np
df_mask = pd.DataFrame({"A":[True]*4, "B":[True, False]*2})
df = pd.DataFrame(np.random.rand(4,2)*100, columns=['A', 'B'])
df

           A          B
0  79.973608  13.718022
1  17.355925  29.318972
2  82.084803   2.352285
3  57.291668   5.002456

In [42]:
#在df_mask中，为true则保留df的值，为false则替换；保证列名一致
df.where(df_mask, -1000)

           A            B
0  79.973608    13.718022
1  17.355925 -1000.000000
2  82.084803     2.352285
3  57.291668 -1000.000000

### np.where()

In [43]:
df

           A          B
0  79.973608  13.718022
1  17.355925  29.318972
2  82.084803   2.352285
3  57.291668   5.002456

In [44]:
df['C'] = np.where(df['A']>75, 'high', 'low')    #if-than-else
df

           A          B     C
0  79.973608  13.718022  high
1  17.355925  29.318972   low
2  82.084803   2.352285  high
3  57.291668   5.002456   low

### 按条件筛选数据

- 1

In [46]:
df.loc[(df['A']>80) & (df['C'] == 'high') & (df['B'] > 1), 'C']

2    high
Name: C, dtype: object

In [48]:
df[(df['A']>80) & (df['C'] == 'high') & (df['B'] > 1)]

           A         B     C
2  82.084803  2.352285  high

In [49]:
df.loc[df['A']<30] = 1;df

           A          B     C
0  79.973608  13.718022  high
1   1.000000   1.000000     1
2  82.084803   2.352285  high
3  57.291668   5.002456   low

- 2

In [21]:
df = pd.DataFrame(
   ....:      {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [22]:
Crit1 = df['AAA'] <= 5.5
Crit2 = df['BBB'] == 10
Crit3 = df['CCC'] > -40
Allcrit = Crit1 & Crit2 & Crit3

In [23]:
Allcrit

0     True
1    False
2    False
3    False
dtype: bool

In [24]:
df[Allcrit]

   AAA  BBB  CCC
0    4   10  100

In [26]:
# 法2
import functools
CritList = [Crit1, Crit2, Crit3]
Allcrit = functools.reduce(lambda x,y: x&y, CritList)
Allcrit

0     True
1    False
2    False
3    False
dtype: bool

In [27]:
df[Allcrit]

   AAA  BBB  CCC
0    4   10  100

- 3

`~` 取反

In [50]:
df = pd.DataFrame(
   ....:      {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40], 'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [51]:
df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [52]:
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50